<header class="px-8 py-6 flex justify-between items-center w-full text-red-600">
  <div class="flex gap-2 items-center">
    <div class="absolute -left-10 -top-28 size-80 rounded-[100%_0%_100%_0%/_0%_44%_66%_100%] bg-red-400/30"></div>

    <lucide-angular [img]="BeefIcon" class="my-icon size-14"></lucide-angular>
    <h1 class="italic font-bold text-4xl">PampaFoods</h1>
  </div>

  <div class="flex gap-4 text-xl font-semibold absolute left-1/2 transform -translate-x-1/2">
    <span class="transition-colors h-full hover:bg-red-200 px-3 py-2 rounded-2xl cursor-pointer">Restaurantes</span>
    <span class="transition-colors h-full hover:bg-red-200 px-3 py-2 rounded-2xl cursor-pointer">Sobre</span>
  </div>
</header>
