<section class="max-w-5xl overflow-hidden relative flex-col gap-18 px-64 py-12 flex justify-center bg-neutral-100
  rounded-4xl shadow-xl border border-gray-400">
  <div class="absolute size-64 bg-red-600 -top-28 -right-30 rounded-full"></div>
  <div class="absolute size-64 bg-red-600 -bottom-40 -left-20 rounded-[10%_40%_100%_80%/_0%_44%_66%_100%]"></div>

  <div class="space-y-6 text-center text-red-600">
    <h2 class="text-4xl font-bold">Bem-vindo(a) ao PampaFoods</h2>

    <h3 class="text-2xl font-semibold">Peça seu delivery agora mesmo!</h3>
  </div>

  <button class="cursor-pointer bg-red-600 hover:bg-red-700 transition-colors self-center px-5 py-3 rounded-full text-white
    font-semibold shadow-md">
    Ver Restaurantes
  </button>
</section>
